{% extends 'news/base.html' %}

{# 标题部分 #}
{% block titleBlock %}
    首页内容
{% endblock %}

{# script部分 #}
{% block scriptScript %}
    <link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
{% endblock %}

{# 分类部分 #}
{% block headerBlock %}
    {% for category in data.categoies %}
        <li class="{% if loop.index == 1 %}active{% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
    {% endfor %}
{% endblock %}

{# 新闻列表 #}
{% block contentBlock %}
    <ul class="list_con fl">

            <li>
                <a href="#" class="news_pic fl"><img src="../../static/news/images/news_pic.jpg"></a>
                <a href="#" class="news_title fl">日本史上最大IPO之一要来了：软银计划将手机业务分拆上市软银计划将手机业务分拆上市</a>
                <a href="#" class="news_detail fl">据日经新闻网，软银计划让旗下核心业务移动手机部门SoftBank Corp.分拆上市，或募资2万亿日元(约180亿美元)。随着软银逐步向投资公司转型，此举旨在给手机业务部门更多自主权。</a>
                <div class="author_info fl">
                    <div class="author fl">
                        <img src="../../static/news/images/person.png" alt="author">
                        <a href="#">乐鸣</a>
                    </div>
                    <div class="time fl">2017-01-01 00:00:00</div>
                </div>
            </li>

        </ul>
<div id="pagination" class="page"></div>
<script>

    $(function(){
        $("#pagination").pagination({
            currentPage: {{ data.current_page }},
            totalPage: {{ data.total_page }},
            callback: function(current) {
                {#alert('ok!');#}
                window.location.href = '/user/news_list?p='+current
            }
        });
    });
</script>
{% endblock %}


